<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>Chatbot</title>
  </head>

  <body>
    <div class="container">
      <div class="wrapper">
        <div class="title">Online Support Chatbot</div>
        <div class="form">
          <div class="bot-inbox inbox">
            <div class="icon">
              <i class="fas fa-user"></i>
            </div>
            <div class="msg-header">
              <p>Which country currency are you interested in?</p>
            </div>
          </div>
        </div>
        <div class="typing-field">
          <div class="input-data">
            <input
              id="data"
              type="text"
              placeholder="Enter your message.."
              required
            />
            <button id="send-btn">Send</button>
          </div>
        </div>
      </div>
    </div>

    <script>
      const fetchAnswerBot = (message) => {
        const msg = `
          <div class="bot-inbox inbox">
            <div class="icon">
              <i class="fas fa-user"></i>
            </div>
            <div class="msg-header">
              <p>${message}</p>
            </div>
          </div>
        `;
        $(".form").append(msg);
      };

      const getMessage = () => {
        const value = $("#data").val();
        const msg = `<div class="user-inbox inbox">
      <div class="msg-header">
        <p>${value}</p>
      </div>
    </div>`;
        $(".form").append(msg);
        $("#data").val("");
        getSomething(value);
      };

      $(document).ready(() => {
        $("#send-btn").on("click", function (e) {
          getMessage();
        });

        $(document).on("keypress", (e) => {
          if (e.which == 13) {
            getMessage();
          }
        });
      });

      getSomething = (message) => {
        const url = "http://localhost:3000/sendMessage";
        $.post({
          url: url,
          data: { message: message },
          success: function (data) {
            if (!data.success) {
              fetchAnswerBot("I don't understand you!");
              return;
            }

            const { country, currency } = data.data;
            const readyMessage = `${country} currency is ${currency}.`;
            fetchAnswerBot(readyMessage);
          },
        });
      };
    </script>
  </body>
</html>
